body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	overflow:hidden;
}

#main-container {
	display: flex;
	flex-flow: row nowrap;
	align-content: space-between;
}

/*CHAT NAVIGATION*/
#chat-nav {
	background: rgba(0,64,110,1);
	height: 100vh;
	width: 220px;
	box-shadow: 2px 0px 0px rgba(0,64,110,0.7);
	display: flex;
	flex-flow: column nowrap;
	align-content: space-between;
}

#brand {
	color: white;
	font-size: 25px;
	font-weight: 900;
	margin: 20px 20px 25px 20px;
}

#messages {
	margin: 0 20px;
}
#message-list {
	font-size: 18px;
	padding: 0;
	color: white;
	list-style: none;
}
#message-list li {
	margin-bottom: 20px;
	padding: 5px 0 5px 5px;
	border-radius: 25px;
}
.status-icon {
	width: 5px;
	height: 5px;
	border-radius: 100px;
	background: white;
	display: inline-block;
}

/*UI-VIEW*/
#angular-body {
	height: 100vh;
}
#angular-body h1 {
	margin: 2.5vh 20px 2.5vh 20px;
}

/*CHAT STATE*/
#chat-header {
	/*total height is 10vh*/
	height: 5vh;
	/*padding-bottom: 10px;*/
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#chat-container {
	height: 82.5vh;
}
#chat-body {
	max-height: 82.5vh;
	font-size: 18px;
	list-style: none;
	padding: 0 20px 0 0;
	margin: 0 0 0 20px;
	overflow: auto;
	/*flexbox was breaking overflow*/
/*	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;*/
}
.chat-message {
	width: 75%;
	margin-bottom: 2%;
}
.chat-message div {
	display:inline-block;
	padding: 1%;
	background: rgba(0, 128, 220, 1);
	color: white;
	text-align: left;
}
.own-message {
	margin-left: 25%;
	text-align: right;
}
.own-message div {
	background: rgba(0,96,165,1) !important;
}
#chat-input {
	height: 5vh;
	width: 90%;
	border: 1px solid rgba(0,0,0,0.2);
	margin: 0 2.5% 0 2.5%;
	padding: 0 2.5%;
}
#chat-top {
	color: rgba(0,0,0,0.5);
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding-bottom: 10px;
	margin-bottom: 10px;
}
