<!DOCTYPE html>
<html ng-app="chatApp" ng-cloak lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- custom css -->
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="homeController">

	<div id="main-container">
		<div id="chat-nav">
			<div id="brand" ui-sref="home" ng-click="mainData.updateSavedState('home', 'none')">{{brand}}</div>
			<div id="currentUser">
				<div class="status-icon" id="{{mainData.user.name}}-status"></div>
				{{mainData.user.name}}
			</div>
			<div id="messages">
				<ul id="message-list">
					<li ui-sref="chat" ng-repeat="message in messages" id="{{message.username}}" class="users" ng-click="mainData.loadChat(message)">
						<div class="status-icon" id="{{message.username}}-status"></div>
						{{message.username}}
					</li>
				</ul>
			</div>
		</div>
		<div id="angular-body" ui-view></div>
	</div>	


	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<!-- ui-router -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
	<!-- main js -->
	<script src="js/app.js"></script>
	<!-- factories -->
		<!-- firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
		<script src="js/factories/firebase.js"></script>
	<script src="js/factories/mainData.js"></script>
	<!-- controllers -->
	<script src="js/controllers/homeController.js"></script>
	<script src="js/controllers/chatController.js"></script>

</body>
</html>